<div class="container"></div>
<footer>
  <!-- Footer main -->
  <section class="ft-main">
    <div class="ft-main-item">
      <h2 class="ft-title">Productos</h2>
      <ul>
        <li><a href="/products">Nuestros Productos</a></li>
        <li><a href="/products">Ofertas</a></li>
      </ul>
    </div>
    <div class="ft-main-item">
      <h2 class="ft-title">Nosotros</h2>
      <ul>
        <li><a href="/">Genki Sushi</a></li>
        <li><a href="/contact">Catering</a></li>
      </ul>
    </div>
    <div class="ft-main-item">
      <h2 class="ft-title">Contacto</h2>
      <ul>
        <li><a href="/contact">Ayuda</a></li>
        <li><a href="/contact">Zonas de Cobertura</a></li>
      </ul>
    </div>
    <div class="ft-main-item">
      <h2 class="ft-title">Recibí nuestras ofertas!</h2>
      <p>Suscribite para recibir nuestras mejores ofertas</p>
      <form>
        <input type="email" name="email" placeholder="Ingresa tu email">
        <input type="submit" value="Suscribirme">
      </form>
    </div>
  </section>
 
  <!-- Footer social -->
  <section class="ft-social">
    <ul class="ft-social-list">
      <li><a href="#"><i class="fab fa-facebook"></i></a></li>
      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
    </ul>
  </section>
 
  <!-- Footer legal -->
  <section class="ft-legal">
    <ul class="ft-legal-list">
      <li>&copy; 2020 Genki Sushi.</li>
    </ul>
  </section>
</footer>