
<nav class="nav-uno">
  <ul class="menu">
    <li class="logo"><a href="/"><img src="/img/logo-genki.png" alt="Logo Genki" height= "70px"></a></li>
    <li class="item"><a href="/products">PRODUCTOS</a></li>
    <li class="item"><a href="/products">NUESTRAS TABLAS</a></li>
    <li class="item"><a href="/about-us">NOSOTROS</a></li>
    <li class="item"><a href="/contact">CONTACTO</a></li>
    <% if(isAuthenticated) { %>
      <a href="/users/user"><button class="btn btn1"><p>MI CUENTA</p></button></a>
    <% } else { %>
      <a href="/users/login"><button class="btn btn1"><p>INGRESAR</p></button></a>
    <% } %>
    </ul>
</nav>
