
<nav class="nav-uno">
  <ul class="menu">
    <li class="logo"><a href="/"><img src="/img/logo-genki.png" alt="Logo Genki" height= "70px"></a></li>
    <li class="item"><a href="/products">PRODUCTOS</a></li>
    <li class="item"><a href="/products">NUESTRAS TABLAS</a></li>
    <li class="item"><a href="/about-us">NOSOTROS</a></li>
    <li class="item"><a href="/contact">CONTACTO</a></li>
    <% if(isAuthenticated) { %>
      <button class="btn btn1"><a href="/users/user">MI CUENTA</a></button>
    <% } else { %>
      <button class="btn btn1"><a href="/users/login"> INGRESAR</a></button>
    <% } %>
    </ul>
</nav>
