<nav>
  <ul class="menu">
      <li class="logo"><a href="/">Genki Sushi</a></li>
      <li class="item"><a href="/products">PRODUCTOS</a></li>
      <li class="item"><a href="/products">OFERTAS</a></li>
      <li class="item"><a href="#">NOSOTROS</a></li>
      <li class="item"><a href="#">CONTACTO</a>
      </li>
      <li class="item button"><a href="/users/login">Log In</a></li>
      <li class="item button secondary"><a href="/users/register">Sign Up</a></li>
      <li class="toggle"><a href="#"><i class="fas fa-bars"></i></a></li>
  </ul>
</nav>