<div class="row">
  <nav class="main-nav navbar navbar-expand-lg navbar-light bg-light col-12 ">
              
      <div class="menu col-4 col-sm-">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/productos">Productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/productos">Ofertas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contacto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Nosotros</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="logo col-4" >
        <a class="navbar-brand" href="/"><img src="./img/logo.png" width= 50px height= 50px alt="logo"></a>
        </div>

      <div class="iconos col-4">
        <div class="user-icon">
          <a href="/registro">
            <i class="fas fa-user"></i>
          </a>
        </div>
        <div class="cart-icon">
          <a href="/carrito">
            <i class="fas fa-shopping-cart"></i>
          </a>
        </div>
        <div class="search-icon">
        <i class="fas fa-search"></i>
        </div>
        
      </div>
    </nav>
  </div>