<div class="card col-3">
    <img src="<%= products.image %>" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= products.name %></h5>
      <p class="card-text"><%= products.detail %></p>
      <p class="card-text precio">$ <%= products.price %></p>
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-primary">Agregar al carrito
      </button>
    </div>
  </div>