
  <nav class= "nav-dos">
        <a href="/products" class="item-dos"> TODOS </a>
      <% for (let i= 0; i<categorias.length; i++) { %>
        <a href="/products/category/<%=categorias[i].id%>" class="item-dos" category="<%=categorias[i].id%>"><%= categorias[i].name %></a>
      <% } %>
  </nav>

