<!DOCTYPE html>
<html>

<head>

    <%- include('./partials/head') %>

    <link rel="stylesheet" href="/css/about-us.css">
</head>
<body>
<%- include ('partials/header') %>

<!-- Empieza Main -->
<div class="about-container">
    <div class="texto">
        <h4>Nosotros</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro dolorem omnis cupiditate quasi ut alias aliquid? Incidunt, repellendus! Nam alias fuga temporibus soluta enim ex voluptas, corporis cupiditate ut veritatis distinctio rem consequuntur eum ratione tempora tempore, delectus nemo. Asperiores repellendus consequatur eveniet quo ducimus aspernatur veritatis omnis placeat fuga delectus aperiam, suscipit neque enim, nulla quam ex cum doloribus velit sequi alias voluptas. Impedit vel at consectetur obcaecati in consequatur eius necessitatibus dolorem magni ullam sit, cum, nihil veniam fugit dolorum unde suscipit autem. Dignissimos earum aspernatur repudiandae? Sequi, odit nam quidem ad laboriosam vero esse beatae molestiae eius.</p>
    </div>
</div>

  <!-- pie -->
 
  <%- include('./partials/footer') %>

  <%- include('./partials/scripts') %>

  <script>
    $(function() {
      $(".toggle").on("click", function() {
          if ($(".item").hasClass("active")) {
              $(".item").removeClass("active");
              $(this).find("a").html("<i class='fas fa-bars'></i>");
          } else {
              $(".item").addClass("active");
              $(this).find("a").html("<i class='fas fa-times'></i>");
          }
      });
    });
    </script>
    
</body>
</html>