<!DOCTYPE html>
<html>

<head>

  <%- include('./partials/head') %>

</head>

<body>

  <%- include('./partials/header') %>  

    <!-- Empieza Main -->
  <div class="slider-row">

	<section class="banner">
		<div class="banner-content">
      <h1>Bienvenido a Genki Sushi</h1>
      <p>Encontra nuestras tablas en la sección Ofertas.</p>
			<a href="/products/category/7">COMPRAR</a>	
		</div>
	</section>

</div>

  <!-- Footer -->
 
<%- include('./partials/footer') %>

<%- include('./partials/scripts') %>

<script>
  $(function() {
    $(".toggle").on("click", function() {
        if ($(".item").hasClass("active")) {
            $(".item").removeClass("active");
            $(this).find("a").html("<i class='fas fa-bars'></i>");
        } else {
            $(".item").addClass("active");
            $(this).find("a").html("<i class='fas fa-times'></i>");
        }
    });
  });
  </script>

</div>
</body>

</html>