<!DOCTYPE html>
<html>

<head>

  <%- include('./partials/head') %>

  <link rel="stylesheet" href="/css/productCart.css">
  
</head>

<body>
  <div class="container-fluid">
    
    <%- include('./partials/header') %> 

    <!-- Empieza Main -->

  <div class="main-body container-fluid">

    <div class="h1-cart row  align-items-center">
      <div class="col-12">
          <h1>Carrito</h1>
      </div>
    </div>

    <div class="contenedor-cart row">

      <div class="detalle-cart col-8">
        <h2>Resumen de compra</h2>
        <div class="item-cart col-9">
            <div class="img-cart col-2">
              <img class="align-middle" src="/img/demo1-1021251770-1.jpg" alt="Item1" width="80px" height="80px">
            </div>
            <div class="item-detalle col-5">
              <h4>Producto 1</h4>
              <p>Detalle de producto 1.</p>
            </div>
            <div class="item-unidades col-1">
              <h4>1</h4>
            </div>
            <div class="item-precio col-2">
              <h4>$49.99</h4>
            </div>
            <div class="item-remover col-2">
              <button type="button" class="btn btn-danger">Quitar</button>
            </div>
         </div>

        <div class="item-cart col-9">
          <div class="img-cart col-2">
            <img class="align-middle" src="/img/demo1-1021580475-1.jpg" alt="Item1" width="80px" height="80px">
          </div>
          <div class="item-detalle col-5">
            <h4>Producto 2</h4>
            <p>Detalle de producto 2</p>
          </div>
          <div class="item-unidades col-1">
            <h4>1</h4>
          </div>
          <div class="item-precio col-2">
            <h4>$49.99</h4>
          </div>
          <div class="item-remover col-2">
            <button type="button" class="btn btn-danger">Quitar</button>
          </div>
      </div>

      <div class="item-cart col-9">
        <div class="img-cart col-2">
          <img class="align-middle" src="/img/demo1-1021605166-1.jpg" alt="Item1" width="80px" height="80px">
        </div>
        <div class="item-detalle col-5">
          <h4>Producto 3</h4>
          <p>Detalle de producto 3</p>
        </div>
        <div class="item-unidades col-1">
          <h4>1</h4>
        </div>
        <div class="item-precio col-2">
          <h4>$49.99</h4>
        </div>
        <div class="item-remover col-2">
          <button type="button" class="btn btn-danger">Quitar</button>
        </div>
    </div>

    <div class="item-cart col-9">
      <div class="img-cart col-2">
        <img class="align-middle" src="/img/demo1-1030050117-1.jpg" alt="Item1" width="80px" height="80px">
      </div>
      <div class="item-detalle col-5">
        <h4>Producto 4</h4>
        <p>Detalle de producto 4</p>
      </div>
      <div class="item-unidades col-1">
        <h4>1</h4>
      </div>
      <div class="item-precio col-2">
        <h4>$49.99</h4>
      </div>
      <div class="item-remover col-2">
        <button type="button" class="btn btn-danger">Quitar</button>
      </div>
  </div>
      </div>

      <div class="resumen-cart col-3">
        <div>            
          <h2>Total</h2>
          <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Codigo de descuento" aria-label="Codigo de descuento" aria-describedby="button-addon2">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Aplicar</button>
              </div>
            </div>
          <h5>DESCUENTOS: $0.00</h5>
          <h5>SUBTOTAL: $49.99</h5>
          <h5>TOTAL: $49.99</h5>
        </div>
      </div>

    </div>

  </div>

  <!-- pie -->
 
  <%- include('./partials/footer') %>

  <%- include('./partials/scripts') %>

</div>
</body>

</html>