<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Genki Sushi & Woks</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/productDetail.css">
</head>

<body>
  <div class="container-fluid">
      <div class="row">
        
        <nav class="main-nav navbar navbar-expand-lg navbar-light bg-light col-12 ">
            
          <div class="menu col-4 col-sm-">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/productos">Productos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/productos">Ofertas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Contacto</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Nosotros</a>
                </li>
              </ul>
            </div>
          </div>
  
          <div class="logo col-4" >
            <a class="navbar-brand" href="/"><img src="./img/logo.png" width= 50px height= 50px alt="logo"></a>
            </div>
  
          <div class="iconos col-4">
            <div class="user-icon">
              <a href="/registro">
                <i class="fas fa-user"></i>
              </a>
            </div>
            <div class="cart-icon">
              <a href="/carrito">
                <i class="fas fa-shopping-cart"></i>
              </a>
            </div>
            <div class="search-icon">
            <i class="fas fa-search"></i>
            </div>
            
          </div>
        </nav>
  
      </div>

    <!-- Empieza Main -->

  <div class="main-body container-fluid">
    <div class="productos row">

        <div class="nav-menu">
            <ul>
              <li>
                <a href="#rolls">Rolls</a>
              </li>
              <li >
                <a  href="#tablas">Nuestras Tablas</a>
              </li>
              <li >
                <a  href="#">Niguiris</a>
              </li>
              <li >
                <a  href="#">Sashimis</a>
              </li>
            </ul>
          </div>

      <div class="col-12 titulo-producto">
          <h1 id="rolls">ROLLS</h1>
      </div>

      <div class="main-products container-fluid">
        <div class="card-deck">
          <div class="card col-3">
            <img src="/img/demo1-1021605166-1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Roll de Salmón</h5>
              <p class="card-text">Pieza a base de arroz con Salmón y wasabi</p>
              <p class="card-text precio">$ 19.90</p>
            </div>
            <div class="card-footer">
              <button type="button" class="btn btn-primary">Agregar al carrito
              </button>
            </div>
          </div>
          <div class="card col-3">
            <img src="/img/demo1-1030239026-1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Roll de Atún</h5>
              <p class="card-text">Pieza a base de arroz con Atún y wasabi</p>
              <p class="card-text precio">$ 19.90</p>
            </div>
            <div class="card-footer">
              <button type="button" class="btn btn-primary">Agregar al carrito
              </button>
            </div>
          </div>
          <div class="card col-3">
            <img src="/img/demo1-1021251770-1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Roll de Langostino</h5>
              <p class="card-text">Pieza a base de arroz con Langostino y wasabi</p>
              <p class="card-text precio">$ 19.90</p>
            </div>
            <div class="card-footer">
              <button type="button" class="btn btn-primary">Agregar al carrito
              </button>
            </div>
          </div>
          <div class="card col-3">
            <img src="/img/demo1-1030737791-1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Roll Crocante</h5>
              <p class="card-text">Pieza a base de arroz con Salmón, palta y queso philadelfia</p>
              <p class="card-text precio">$ 19.90</p>
            </div>
            <div class="card-footer">
              <button type="button" class="btn btn-primary">Agregar al carrito
              </button>
            </div>
          </div>
        </div>
      </div>
    
      <div class="col-12 titulo-producto">
        <h1 id="tablas">NUESTRAS TABLAS</h1>
    </div>

    <div class="main-products container-fluid">
      <div class="card-deck">
        <div class="card col-4">
          <img src="/img/Salmon-20-piezas.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Tabla de Salmón</h5>
            <p class="card-text">Incluye 20 piezas surtidas de Salmón</p>
            <p class="card-text precio">$ 199.90</p>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-primary">Agregar al carrito
            </button>
          </div>
        </div>
        <div class="card col-4">
          <img src="/img/combo-surtido-15.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Tabla Surtida</h5>
            <p class="card-text">Incluye 15 piezas surtidas</p>
            <p class="card-text precio">$ 199.90</p>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-primary">Agregar al carrito
            </button>
          </div>
        </div>
        <div class="card col-4">
          <img src="/img/combo-premium.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Tabla Premium</h5>
            <p class="card-text">Incluye 14 piezas de nuestras especialidades premium</p>
            <p class="card-text precio">$ 199.90</p>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-primary">Agregar al carrito
            </button>
          </div>
        </div>
      
        </div>
      </div>
    </div>
    </div>


  </div>


  <!-- pie -->
 
  <div class="main-footer row">
      <div class="logo-footer col-2">
        <img src="./img/logo.png" width=50px height=50px alt="logo">
      </div>
  
      <div class="footer-info col-8">
        <p>© Copyright 2019 - Genki Sushi</p>
      </div>
  
      <div class="footer-redes col-2">
        <ul class="nav  justify-content-end">
          <li class="nav-item">
          <a class="nav-link active" href="https://www.facebook.com/genkisushiAR/"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="https://www.instagram.com/genkisushiar/"><i class="fab fa-instagram"></i></a>
          </li>
        </ul>
      </div>      
    </div> 


  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</div>
</body>

</html>