<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Genki Sushi & Woks</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/productDetail.css">
</head>

<body>
  <div class="container-fluid">

    <%- include('./partials/header') %> 

<!-- Empieza Main -->

  <div class="main-body container-fluid">
    <div class="productos row">

        <div class="nav-menu">
            <ul>
              <li>
                <a href="#rolls">Rolls</a>
              </li>
              <li >
                <a  href="#tablas">Nuestras Tablas</a>
              </li>
              <li >
                <a  href="#">Niguiris</a>
              </li>
              <li >
                <a  href="#">Sashimis</a>
              </li>
            </ul>
          </div>

      <div class="col-12 titulo-producto">
          <h1 id="rolls">ROLLS</h1>
      </div>

      <div class="main-products container-fluid">
        <div class="card-deck">
          <div class="card col-3">
            <img src="/img/demo1-1021605166-1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Roll de Salmón</h5>
              <p class="card-text">Pieza a base de arroz con Salmón y wasabi</p>
              <p class="card-text precio">$ 19.90</p>
            </div>
            <div class="card-footer">
              <button type="button" class="btn btn-primary">Agregar al carrito
              </button>
            </div>
          </div>
          <div class="card col-3">
            <img src="/img/demo1-1030239026-1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Roll de Atún</h5>
              <p class="card-text">Pieza a base de arroz con Atún y wasabi</p>
              <p class="card-text precio">$ 19.90</p>
            </div>
            <div class="card-footer">
              <button type="button" class="btn btn-primary">Agregar al carrito
              </button>
            </div>
          </div>
          <div class="card col-3">
            <img src="/img/demo1-1021251770-1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Roll de Langostino</h5>
              <p class="card-text">Pieza a base de arroz con Langostino y wasabi</p>
              <p class="card-text precio">$ 19.90</p>
            </div>
            <div class="card-footer">
              <button type="button" class="btn btn-primary">Agregar al carrito
              </button>
            </div>
          </div>
          <div class="card col-3">
            <img src="/img/demo1-1030737791-1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Roll Crocante</h5>
              <p class="card-text">Pieza a base de arroz con Salmón, palta y queso philadelfia</p>
              <p class="card-text precio">$ 19.90</p>
            </div>
            <div class="card-footer">
              <button type="button" class="btn btn-primary">Agregar al carrito
              </button>
            </div>
          </div>
        </div>
      </div>
    
      <div class="col-12 titulo-producto">
        <h1 id="tablas">NUESTRAS TABLAS</h1>
    </div>

    <div class="main-products container-fluid">
      <div class="card-deck">
        <div class="card col-4">
          <img src="/img/Salmon-20-piezas.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Tabla de Salmón</h5>
            <p class="card-text">Incluye 20 piezas surtidas de Salmón</p>
            <p class="card-text precio">$ 199.90</p>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-primary">Agregar al carrito
            </button>
          </div>
        </div>
        <div class="card col-4">
          <img src="/img/combo-surtido-15.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Tabla Surtida</h5>
            <p class="card-text">Incluye 15 piezas surtidas</p>
            <p class="card-text precio">$ 199.90</p>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-primary">Agregar al carrito
            </button>
          </div>
        </div>
        <div class="card col-4">
          <img src="/img/combo-premium.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Tabla Premium</h5>
            <p class="card-text">Incluye 14 piezas de nuestras especialidades premium</p>
            <p class="card-text precio">$ 199.90</p>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-primary">Agregar al carrito
            </button>
          </div>
        </div>
      
        </div>
      </div>
    </div>
    </div>


  </div>


  <!-- pie -->
 
  <%- include('./partials/footer') %>

  <%- include('./partials/scripts') %>
  
</div>
</body>

</html>