<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Genki Sushi & Woks</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/main.css">
  <link rel="stylesheet" href="./css/productCart.css">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
     
        <nav class="main-nav navbar navbar-expand-lg navbar-light bg-light col-12 ">
         
          <div class="menu col-4 col-sm-">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="#">Productos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Ofertas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Contacto</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Nosotros</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="logo col-4" >
            <a class="navbar-brand" href="#"><img src="./img/logo.png" width= 50px height= 50px alt="logo"></a>
            </div>

          <div class="iconos col-4">
            <div class="user-icon">
              <a href="logo/logo">
                <i class="fas fa-user"></i>
              </a>
            </div>
            <div class="cart-icon">
              <a href="logo/logo">
                <i class="fas fa-shopping-cart"></i>
              </a>
            </div>
           <div class="search-icon">
            <i class="fas fa-search"></i>
           </div>
            
          </div>
          </nav>


    </div>

    <!-- Empieza Main -->

  <div class="main-body container-fluid">

    <div class="h1-cart row  align-items-center">
      <div class="col-12">
          <h1>Carrito</h1>
      </div>
    </div>

    <div class="contenedor-cart row">

      <div class="detalle-cart col-9">
        <h2>Resumen de compra</h2>
        <div class="item-cart col-9">
            <div class="img-cart col-2">
              <img class="align-middle" src="/img/demo1-1030050117-1.jpg" alt="Item1" width="80px" height="80px">
            </div>
            <div class="item-detalle col-5">
              <h2>Producto 1</h2>
              <p>Detalle de producto 1.</p>
            </div>
            <div class="item-unidades col-1">
              <h2>1</h2>
            </div>
            <div class="item-precio col-1">
              <h2>$49.99</h2>
            </div>
         </div>

        <div class="item-cart col-9">
          <div class="img-cart col-2">
            <img class="align-middle" src="/img/demo1-1030050117-1.jpg" alt="Item1" width="80px" height="80px">
          </div>
          <div class="item-detalle col-5">
            <h2>Producto 2</h2>
            <p>Detalle de producto 2</p>
          </div>
          <div class="item-unidades col-1">
            <h2>1</h2>
          </div>
          <div class="item-precio col-1">
            <h2>$49.99</h2>
          </div>
      </div>

      <div class="item-cart col-9">
        <div class="img-cart col-2">
          <img class="align-middle" src="/img/demo1-1030050117-1.jpg" alt="Item1" width="80px" height="80px">
        </div>
        <div class="item-detalle col-5">
          <h2>Producto 3</h2>
          <p>Detalle de producto 3</p>
        </div>
        <div class="item-unidades col-1">
          <h2>1</h2>
        </div>
        <div class="item-precio col-1">
          <h2>$49.99</h2>
        </div>
    </div>

    <div class="item-cart col-9">
      <div class="img-cart col-2">
        <img class="align-middle" src="/img/demo1-1030050117-1.jpg" alt="Item1" width="80px" height="80px">
      </div>
      <div class="item-detalle col-5">
        <h2>Producto 4</h2>
        <p>Detalle de producto 4</p>
      </div>
      <div class="item-unidades col-1">
        <h2>1</h2>
      </div>
      <div class="item-precio col-1">
        <h2>$49.99</h2>
      </div>
  </div>
      </div>

      <div class="resumen-cart col-3">
        <div>            
          <h2>Total</h2>
          <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Codigo de descuento" aria-label="Codigo de descuento" aria-describedby="button-addon2">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Aplicar</button>
              </div>
            </div>
          <p>DESCUENTOS: $0.00</p>
          <p>SUBTOTAL: $49.99</p>
          <h4></h4>
          <p>TOTAL: $49.99</p>
          <h4></h4>
        </div>
      </div>

    </div>

  </div>

  <!-- pie -->
 
      <div class="main-footer row">
    <div class="logo-footer col-2">
      <img src="./img/logo.png" width=50px height=50px alt="logo">
    </div>

    <div class="footer-info col-8">
      <p>© Copyright 2019 - Genki Sushi</p>
    </div>

    <div class="footer-redes col-2">
      <ul class="nav  justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" href="#"><i class="fab fa-facebook-f"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fab fa-instagram"></i></a>
        </li>
      </ul>
    </div>      
    </div>
 


  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</div>
</body>

</html>