<!DOCTYPE html>
<html>

<head>

  <%- include('./partials/head') %>

  <link rel="stylesheet" href="/css/register.css">
  
</head>

<body>
  <div class="container-fluid">

    <%- include('./partials/header') %>  


    <!-- Empieza Main -->

  <div class=container>
    <div class="main-body row">
     <form>
    
    <!---Agrego apellido y nombre--->
  
    <div class="form-group">
      <label for="inputName">Nombre</label>
      <input type="text" class="form-control" id="inputNombre">
    </div>
     <div class="form-group">
      <label for="inputApellido">Apellido</label>
      <input type="text" class="form-control" id="inputApellido">
    </div>
    
    <!-------------------------------------->
    <div class="form-row">
    <div class="form-group col-md-6">
        <label for="inputEmail4">Email</label>
        <input type="email" class="form-control" id="inputEmail4">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Password</label>
        <input type="password" class="form-control" id="inputPassword4">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Direccion</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="Nombre calle y altura">
    </div>
    <div class="form-group">
      <label for="inputAddress2">Entre calles...</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Calle 1 y calle2">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">Barrio</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">Localidad</label>
        <select id="inputState" class="form-control">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Codigo</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
    </div>
   
  
    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>
  
  </div>
  </div>


  <!-- pie -->
 
  <%- include('./partials/footer') %>

  <%- include('./partials/scripts') %>

</div>
</body>

</html>