<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/users.css">
</head>
<body>
    <%- include ('partials/header') %>

<!-- Empieza Main -->


<!-- pie -->
 
    <%- include('./partials/footer') %>

    <%- include('./partials/scripts') %>
</body>
</html>