@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700&display=swap');

body {
    font-family: Roboto Condensed;
}

.about-container{
    margin: 0;
    min-height: 70vh;
    background-image: url("../demo1-1021251770-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.6;
}
.texto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    width: 450px;
    right: 100px;
    bottom: 400px;

}
.texto h4 {
    color: #fff;
    font-size: 24px;
    padding-bottom: 20px;
    letter-spacing: 1px;
}

.texto p {
    color: #fff;
    letter-spacing: 1px;
}


