@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700&display=swap');

body {
    font-family: Roboto Condensed;
}

.about-container{
    margin: 0;
    min-height: 70vh;
    background-image: url("../demo1-1021251770-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.2);
}

.column{
    display: flex;
    flex: 1.2;
}
.texto {
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.detalle-about{
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    padding: 30px;
    margin-right: 30px;
}
.texto h4 {
    color: #fff;
    font-size: 24px;
    padding-bottom: 20px;
    letter-spacing: 1px;
}

.texto p {
    color: #fff;
    letter-spacing: 1px;
}


