@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed";
}

.main-nav {
    background-color: #1f2430!important;
}

.navbar-light .navbar-nav .nav-link {
    color: whitesmoke;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:active{
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:visited {
    color:whitesmoke;
    font-weight: bold;
}


.user-icon{
    margin-right: 15px;
}

.cart-icon{
    margin-right: 15px;
}

.main-body {
    background-color: white;
}

.navbar-toggler-icon{
    background-color: whitesmoke;
}

.search-icon i, 
.user-icon i, 
.cart-icon i{
color: whitesmoke;
}

.iconos.col-4{
    display: flex;
    justify-content: flex-end;
}



.logo.col-4 {
    display: flex;
    justify-content: center;
}

.main-footer {
    background-color:#1f2430;
}
.logo-footer {
    display: flex;
    align-items: flex-start;
    margin: 10px 0px 10px 0px;
}
.footer-redes {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-redes ul li a {
    color: whitesmoke;
}

.footer-info {
    display: flex;
    justify-content: center;
  
    color: whitesmoke;
}

.footer-info p{
    align-self: center;
    margin-bottom: 0;
}

.product-detail img {
    width: 100%;
    height: 100%;
  }
