@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-header {
    width: 100%;
    margin: 0;
    overflow: hidden;
	
}

.navegacion {
    overflow: hidden;
    top: 0;
    padding: 0;
    width: 100%;
    height: 35px;
    background-color:rgba(0, 0, 0, 0.9);
	/*fijo la barra principal*/
    position:fixed;
    z-index: 100;
}

.menu {
    float: left;
    color: white;
    position: absolute;
    padding-left: 5px;
    padding-top: 2px;
    font-family: 'Montserrat', sans-serif;
}

.logo{
    float: left;
    position: absolute;
    right: 50%;
	/*corro centro del eje x*/
	transform: translate(50%);
    padding-top: 2px;
}

.lupa{
    float: left;
    position: absolute;
    right: 5px;
    padding-top: 2px;
}

.user{
    float: left;
    position: absolute;
    right: 45px;
    padding-top: 2px;
}

.carrito{
    float: left;
    position: absolute;
    right: 85px;
    padding-top: 2px;
}

.main-nav {
	/*modifico position del menu de navegacion para que empiece abajo de la barra fija*/
    position: relative;
	top:35px;
}

.main-nav ul li{
    background-color:#1e272e;
    text-align: center;
    list-style-type: none;
    margin: 2px 0;
    padding: 5px;
}
/*defino en forma m�s espec�fica el a, digo que sea dentro del li ul del main-nav*/
/*visualmente no cambia nada*/
.main-nav ul li a{
    text-decoration: none;
    color: whitesmoke;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
/*
.main-nav a{
    text-decoration: none;
    color: whitesmoke;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
*/


.main-footer {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    position: relative;
}

.logo-footer {
    float: left;
}

.redes-sociales {
    float: left;
}

.redes-sociales i {
    display: block;
    position: relative;
    color: whitesmoke;
    margin: 15%;
    padding: 3px;
    right: -1200%;
    float: left;
}

.logo-footer img {
    padding: 3px;
    margin: 30%;
}

p {
    font-family: 'Montserrat', sans-serif;
}

section {
    position: relative;
    clear: both;
}