@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
  font-family: Roboto Condensed;
  color: gray;
}

.contenedor-padre { 
  display: flex;
  background-color: rgb(231, 231, 231);
  margin: 20px;
  padding: 50px 100px;
}

h1 {
  width: 100%;
  font-size: 22px;
  border-bottom: 1px solid gray;
  align-self: flex-start;
  padding-bottom: 10px;
}
.cart {
  margin: 10px;
  flex: 2;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}
.pedido-1, .pedido-2{
  display: flex;
  border-bottom: 1px solid gray;
}
  .imagen {
    padding: 30px;
    margin: auto;
  }
  .descripcion {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .producto {
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    align-items: left;
    padding-bottom: 10px;
  }
    .producto h2 {
      font-size: 20px;
      padding: 0;
      display: block;
    }
    .producto p {
      font-size: 16px;
    }
  .cantidad {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    font-size: 14px;
  }
  
.resumen {
  display: flex;
  flex: 1;
  flex-flow: row wrap;
  margin: 10px;
  padding: 20px;
  background-color: white;
}
  .resumen h3 {
    width: 100%;
    font-size: 16px;
    border-bottom: 1px solid gray;
    align-self: flex-start;
    padding-bottom: 10px;
  }
  .datos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
    .datos h4, p {
      font-size: 14px;
    }
    .datos .subtotal, .envio, .total, .promocion {
      width: 100%;
      display: flex;
      justify-content: space-between;
      
    }
      .promocion {
        display: flex;
        align-items: center;
      }
      .promocion form {
        display: flex;
        flex-wrap: wrap;
      }
      .promocion input[type="text"] {
          border: 1px solid gray;
          padding: 5px;
          font-size: 12px;
      }
      .promocion input[type="submit"] {
          background-color: black;
          color: #fff;
          cursor: pointer;
          border: 0;
          padding: 0.625rem 0.9375rem;
          font-size: 12px;
      }
        .total {
          display: flex;
          margin-top: 30px;
          border-top: 1px solid gray;
          padding-top: 10px;
          
        }
    .datos button {
    width: 100%;
    padding: 10px;
    background-color: black;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 1px;
    color: #ffffff;
  }

