@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
  font-family: Roboto Condensed;
  
}

.contenedor-padre { 
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  margin: 20px;
  padding: 50px 30px;
  width: 50%;
  -webkit-box-shadow: 0 10px 10px 0 rgba(0,0,0,0.3);
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.3);
}

h1 {
  width: 100%;
  font-size: 22px;
  border-bottom: 1px solid gray;
  align-self: flex-start;
  padding-bottom: 20px;
}

.imagen {
    flex: 1 1 auto;
    margin: auto;
    padding-top: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  flex: 3 1 auto;
  justify-content: center;
  padding-top: 20px;
  padding-left: 20px;
}
.descripcion {
  font-size: 16px;
  padding-bottom: 20px;
}
.seleccion {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.añadir {
  width: 100%;
  padding: 10px;
  background-color: black;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 1px;
  color: #ffffff;
  text-align: center;
}

.edicion {
    display: flex;
    margin-top: 20px;
    justify-content: flex-start;
}
.editar{
    padding: 10px;
    background-color: green;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 1px;
    color: #ffffff;
    margin-right: 10px;
}
.eliminar {
    padding: 10px;
    background-color: red;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 1px;
    color: #ffffff;

}

.editar:hover, .añadir:hover{
    text-decoration: none;
    color: #ffffff;
}

