.container {
    margin: 10px 0px;
}

.btn.btn-primary {
    margin: 10px 0px;
}

.ct-edit {
    display: flex;
    justify-content: center;
}

.ct-edit input[type="submit"] {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #ca3e47;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 1px;
    color: #ffffff;
}

form input, select, textarea{
    width: 100%;
    padding: 15px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    box-sizing:border-box;
    border-radius: 5px;
}

.main-body.row {
    margin: 20px;
    padding: 20px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    
}

.main-body h1 {
    text-align: center;
    color: #4d4d4d;
    font-size: 26px;
    padding: 15px 0 30px 0;
    letter-spacing: 1px;
}

.input-row {
    display: flex;
}
.foto {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}
.ct-edit button[type="submit"] {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #ca3e47;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 1px;
    color: #ffffff;
}


